@charset "UTF-8";

/*全てのページに適用される*/
body{
    background-color: #17223b;

}

a {
    color: #f5587b;
}


/*つぶやきブロック*/
.message-block{
    color: aliceblue;
}

/*ユーザー登録ブロック*/
.signup-block{
    color: #FCD271;
}

/*ログインブロック*/
.login-block{
    color: #FCD271;
}

/*エラー表示のカラー*/
.validation{
    color: #F71E35;
}

.header{
    padding: 30px;               /* 余白指定 */
    font-size: 20px;
}


.center{
    position: absolute;          /* 位置指定 */
    top: 30%;                    /* 親要素の半分下にずらす */
    left: 50%;                   /* 親要素の半分右にずらす */
    transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */
    padding: 20px;               /* 余白指定 */
    font-size: 20px;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 1000px;
}

.main{
    float: right;
    width: 50%;
}

.left-sidebar {
    box-sizing: border-box;
    height: 1000px;
    width: 35%;
    margin-top: 50px;
    float: left;
}

.right-sidebar{
    box-sizing: border-box;
    height: 1000px;
    margin: 100px;
    float: left;
    display: flex;
    flex-direction: column;

}

.video{
    margin-bottom: 70px;
    width: 50%;
}

.video2{
    margin-bottom: 70px;
    width: 50%;
}

.frame_center {
    text-align: center;
    margin-left: 10%;
}

.frame_center2 {
    text-align: center;
    margin-left: 20%;
}

.colum1{
    width: 60%;
    float: left;
}

.colum2{
    width: 30%;
    float: right;
}


