@charset "UTF-8";

body {
	background-color: #141414;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
	background-color: #00acee;
	padding: 20px;
	text-align: center;
}

h1 {
	margin: 0;
}

section {
	margin: 50px auto;
	max-width: 800px;
	padding: 0 20px;
	text-align: justify;
}

h2 {
	color: #00acee;
	font-size: 32px;
	margin-bottom: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li:before {
	content: "▶︎";
	color: #00acee;
	margin-right: 10px;
}

button.app-btn {
	background-color: #00acee;
	border: none;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 24px;
	margin: 50px auto;
	padding: 20px 50px;
}

button.app-btn:hover {
	background-color: #fff;
	color: #00acee;
}
